/* 怨듯넻 */
body {
	margin: 0;
	padding: 0;
	background-image: url("../image/background.jpg");
	background-size: cover;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	margin-top: 0; 
	flex-direction : column;
	justify-content: center;
	flex-direction: column;
}

.header {
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	align-self: center;
	width: 20vw;
	margin-left: 3vw;
	font-size: 1.8em;
	
}

#now {
	color: red;
}

.logo>a {
	text-decoration: none;
	color: #fff;
}

.logo>a>span {
	padding-right: 1vw;
	font-weight:bolder;
	border-right: 1px solid silver;
}
.menu {
	width: 40vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
	margin-right: 1vw;
	font-weight:bold;
}

.menu>a {
	margin-left: 5vw;
	text-decoration: none;
	color: white;
}
.menu>a:hover{
	color:red;
}

.footer {
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer>span {
	align-self: center;
	color:white;
	font-weight:bold;
}

/* �젙嫄곗옣 */

@media ( max-width : 500px) {
	/*怨듯넻 紐⑤컮�씪 */
	.header {
		flex-direction: column;
		text-align: center;
		height: 15vh;
		justify-content: center;
	}
	.header>.logo {
		width: 100vw;
		margin-top: 2vh;
		align-self: center;
		display:flex;
		flex-direction:row;	
		justify-content:center;
		margin: 0;
	}
	.header>.menu {
		margin-top: 3vh;
		display: flex;
		justify-content: center;
		width: 100vw;
		align-slef: center;
		margin-right: 0vw;
	}
	.header>.menu>a {
		padding-bottom: 0.5vh;
		border-bottom: 1px solid silver;
	}
	.footer {
		height: 10vh;
	}	
	.footer {
		height: 10vh;
	}


}