/* 공통 */
body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	margin-top: 0; 
	flex-direction : column;
	justify-content: center;
	flex-direction: column;
}

.header {
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	align-self: center;
	width: 20vw;
	margin-left: 3vw;
	font-size: 1.8em;
}

#now {
	color: grey;
}

.logo>a {
	text-decoration: none;
	color: black;
}


.logo>a>span {
	padding-right: 1vw;
	border-right: 1px solid black;
}
.menu {
	width: 40vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-self: center;
	margin-right: 1vw;
}

.menu>a {
	margin-left: 5vw;
	text-decoration: none;
	color: black;
}

.footer {
	width: 100vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer>span {
	align-self: center;
}

/* 메인 */
.indexmain {
	width: 100vw;
	height: 80vh;
	background-image: url("../image/back.jpg");
	background-size: auto;
	display: flex;
	flex-direction: row;
}
.cmain {
	width: 100vw;
	height: 80vh;
	background-image: url("../image/back.jpg");
	background-size: auto;
	display: flex;
	flex-direction: row;
}
#chartleft{
	width:50vw;
}
#chartright{
	width:50vw;
	display:flex;
	flex-direction:column;
}
#rightup{
	width:50vw;
	height:40vh;
}
#rightdown{
	width:50vw;
	height:40vh;
}
#catchphrase {
	width: 60vw;
	height: 80vh;
	display: flex;
	justify-content: left;
	align-items: center;
}

#catchphrase>span {
	margin-left: 10vw;
	font-size: 5em;
	font-weight: bold;
}

#login {
	width: 40vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#login>form {
	box-shadow: 1px 1px 10px 1px grey;
	background-color: #fff;
	width: 20vw;
	height: 50vh !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

#login>form>input {
	border-radius: 5px;
	border: 1px solid grey;
	width: 78%;
	height: 5vh;
	margin-bottom: 2vh;
	padding-left: 2%;
}

#login>form>button {
	width: 80%;
	height: 5vh;
	margin-top: 2vh;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid black;
}
/* 게시판 */
.board_main {
	width: 100vw;
	height: 80vh;
	background-image: url("../image/back.jpg");
	background-size: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tableP {
	width: 80vw;
	height: 68vh;
	display: flex;
	flex-direction:column;
	align-self: center;
	justify-content: center;
	overflow:scroll;
	overflow-x:hidden;
	background-color:#fff;
}
.tableP::-webkit-scrollbar{
	width: 4px;
}
.tableP::-webkit-scrollbar-thumb{
	background-color: #2f3542;
}
.tableP::-webkit-scrollbar-track{
	background-color: grey;
}
.board_li{
	height:8vh;
	justify-content: space-around;
}
.board_mi{
	height:4vh;
}
.board_li:nth-child(0)
{
	margin-top:5vh;
}
.board_sub{
	height:3vh;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom:1px solid lightgrey;	
}
.board_mi>span{
	font-size:1em; font-weight: bold;
}
.board_sub>span{
	font-size: 0.8em; color:lightgrey;
}
.buttonP {
	width: 80vw;
	height: 10vh;
	align-self: center;
	display: flex;
	justify-content: flex-end;
}

.buttonP>button {
	width: 20vw;
	height: 7vh;
	background-color: #fff;
	border: 1px solid black;
	font-weight: bold;
	font-size: 1.1em;
	border-radius:10px;
}

/*게시판글쓰기 */
.input_main {
	width: 100vw;
	height: 79vh;
	background-image: url("../image/back.jpg");
	background-size: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.inputpanel {
	width: 40vw;
	height: 70vh;
	align-self: center;
	background-color: #fff;
	box-shadow: 1px 1px 10px 2px grey;
}

.inputpanel>form {
	width: 40vw;
	height: 65vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inputpanel>form>input {
	align-self: center;
	width: 80%;
	height: 5vh;
	margin-top: 2vh;
}

.inputpanel>form>input[type=submit] {
	background-color: #fff;
	border: 1px solid black;
	border-radius: 10px;
}

.inputpanel>form>textarea {
	margin-top: 2vh;
	width: 80%;
	align-self: center;
	height: 30vh;
}

/*
게시글 보기
 */
.view_main {
	width: 100vw;
	height: 79vh;
	background-image: url("../image/back.jpg");
	background-size: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.viewpanel {
	width: 40vw;
	height: 70vh;
	align-self: center;
	background-color: #fff;
	box-shadow: 1px 1px 10px 2px grey;
}

#viewFRM {
	width: 40vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#viewFRM>input {
	align-self: center;
	width: 80%;
	height: 5vh;
	margin-top: 2vh;
	border: 0px;
	display: flex;
	flex-direction: row;
}
#viewFRM>div {
	align-self: center;
	width: 80%;
	height: 5vh;
	margin-top: 2vh;
	border: 0px;
	display: flex;
	flex-direction: row;
}

#buttonCap {
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: space-between;
}	
#viewFRM>textarea {
	margin-top: 2vh;
	width: 80%;
	align-self: center;
	height: 30vh;
	border:1px solid #f6f6f6;
}

/* 정거장 */
.station_main {
	width: 100vw;
	height: 80vh;
	background-image: url("../image/back.jpg");
	background-size: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-item:center;
}
#slist>tr>td{
	border:0;
}
#slist::-webkit-scrollbar {
    width: 4px;
  }
 #slist::-webkit-scrollbar-thumb {
    background-color: #2f3542;
  }
#slist::-webkit-scrollbar-track {
    background-color: grey;
  }
#stationP {
	align-self: center;
	width: 90vw;
	height: 60vh;
}
.detailover{
	width: 100vw;
	height: 80vh;
	display:flex;
	background-image: url("../image/back.jpg");
	background-size: cover;
	justify-content: center;
	align-content: center;
}
.detailmain{
	width: 90vw;
	height: 69vh;
	display: flex;
	flex-direction: row;
	align-self: center;
	justify-self: center;
}
#detailcontent{
	width:50vw;
	background-color:#fff;
	height:69vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-size:0.8em;
	justify-content: space-around;
	
}
#detailmap{
	width:40vw;
	height:69vh;
}
@media ( max-width : 500px) {
	/*공통 모바일 */
	.header {
		flex-direction: column;
		text-align: center;
		height: 15vh;
		justify-content: center;
	}
	.header>.logo {
		width: 100vw;
		margin-top: 2vh;
		align-self: center;
		display:flex;
		flex-direction:row;	
		justify-content:center;
		margin: 0;
	}
	.header>.menu {
		margin-top: 3vh;
		display: flex;
		justify-content: center;
		width: 100vw;
		align-slef: center;
		margin-right: 0vw;
	}
	.header>.menu>a {
		padding-bottom: 0.5vh;
		border-bottom: 1px solid black;
	}
	.footer {
		height: 10vh;
	}
	/*메인 모바일*/
	#catchphrase {
		display: none;
		justify-content: center;
	}

#catchphrase>span {
	font-size: 3em;
	font-weight: bold;
	margin-left:0;
	margin-top:-10vh;
}
	.indexmain {
		height: 75vh;
		display: flex;
		justify-content: center;
	}
	.cmain{
		flex-direction: column;
	}
	#login {
		width: 90vw;
		height: 70vh;
	}
	#login>form {
		width: 85vw;
		height: 60vh;
	}
	.footer {
		height: 10vh;
	}
	.board_main{
	margin-top:0;
	}
	/*게시판 모바일 */
	.inputpanel {
		width: 90vw;
		box-shadow: none;
		border: 1px solid black;
	}
	.inputpanel>form {
		width: 90vw;
	}
	.tableP{
		margin-top:0;
		height:62vh;
	}
	.buttonP{
		margin-top:0;
	}
	.buttonP>button {
		width: 30vw;
	}
	/*게시글 보기 모바일 */
	.viewpanel {
		width: 90vw;
		box-shadow: none;
		border: 1px solid black;
	}
	#viewFRM {
		width: 90vw;
	}
	
	/* 게시판 그거 */
	
	.detailmain{
	flex-direction: column;
}
#detailcontent{
	width:90vw;;
	background-color:#fff;
	height:25vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	font-size:0.8em;
	justify-content: space-around;
	
}
#detailmap{
	width:90vw;
	height:44vh;
}
#chartleft{
	width:100vw;
	height:20vh;
	overflow-x:scroll;
	overflow-y:hidden;
	justify-content: center;
	align-self:center;
	justify-self:center;
}
#chartright{
	width:100vw;
	height:56vh;
	display:flex;
	flex-direction:column;
		justify-content: center;
	align-self:center;
	justify-self:center;
}
#chart_div{
	width:100vw;
	height:30vh;
}
#donutchart{
	width:100vw;
	height:20vh;
}
#top_x_div{
	width:100vw;
	height:30vh;
}
#rightup{
	width:100vw;
	height:30vh;
	overflow-x:scroll;
	overflow-y:hidden;
}
#rightdown{
	width:100vw;
	height:30vh;
	overflow-x:scroll;
	overflow-y:hidden;
}
}