.station_main {
	width: 100vw;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-item: center;
}

.station_page_name {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	
}

.station_page_name>div {
	display: flex;
	width: 20vw;
	height: 10vh;
	align-items: center;
	margin-right:5vw;
}

.station_page_name>div>select, input {
	align-selft: center;
	height: 7vh;
	fot-size: 1.2em;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
}

.station_page_name>span {
	align-self: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #fff;
	margin-left:5vw;
}

#slist {
	background-color: #fff;
	align-self: center;
	width: 100vw;
	height: 70vh;
	display: flex;
	flex: row;
	justify-content: center;
	align: center;
	overflow: scroll;
	overflow-x: hidden;
}

#slist::-webkit-scrollbar {
	width: 2px;
}

#slist::-webkit-scrollbar-thumb {
	background-color: #2f3542;
}

#slist::-webkit-scrollbar-track {
	background-color: #fff;
}

@media ( max-width :500px) {
	.station_page_name {
		justify-content: center
	}
	.station_page_name>span {
		display: none;
	}
	.station_page_name>div {
		width: 80vw;
		margin-left:5vw;
	}
}